.logoAngular {
    width: 145px;
    padding: 5px 0 0 15px;
    cursor: pointer;
}

.appTitle{
    color: white;
    float: right;
    margin: 15px 15px 0 0;
    font-family: monospace;
}

.Cabecera{
    background-color:#1976d2;
}

.ContenidoHeroes{
    margin-top: 25px;
}