.logoAngular {
    width: 145px;
    padding: 5px 0 0 15px;
    cursor: pointer;
}

.appTitle{
    color: white;
    float: right;
    margin: 15px 15px 0 0;
    font-family: monospace;
}

.appHeroes{
    color: white;
    margin: 15px 15px 0 0;
    font-family: monospace;
}

.Cabecera{
    background-color:#1976d2;
}

.ContenidoHeroes{
    margin: 25px;
}

.blanco{
    color: white;
}

#aHeroes, #aDashboard, #aMessages{
    margin-left: 15px;
}